ENV=local
API_URL=svc/
PORT=3010
VERSION=v1
KEY_ENC=VSTdVbOsjg1hNY35xBv0UDPnDOWvFp7u
SECRET_KEY=8223c861413daea3eddae3083fa62f191aa616db

# Database Configuration
DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=service_db
DB_USERNAME=postgres
DB_PASSWORD=password
CONNECTIONLIMIT=10

# Request Timeout
ACQRTETIMEOUT=30000

# Logging
LOG_LEVEL=info
